* {
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
}

body {
    background-color: white;
}

.header-heading-wrapper {
    width: 543px;
    height: 144px;
}

.heading {
    font-size: 48px;
    color: #333;
    margin-top: 30px;
    margin-bottom: 40px;
}

.question-link {
    font-size: 18px;
    text-decoration: none;
}

/*--NAVBAR-----*/
.navbar {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
}

nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

#nav-logo-a-wrapper {
    display: flex;
    justify-content: flex-start;
    text-decoration: none;
}

#nav-logo {
    font-family: 'Josefin Sans', sans-serif;
    /*font-family: 'Heebo';*/
    font-weight: 800;
    font-size: 36px;
    line-height: 53px;
    left: 52px;
    top: 42px;
    color: #333;
    margin-left: 40px;
    text-align: center;
}

.nav-menu-link-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-menu-link {
    color: #333;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 500;
    font-size: 24px;
    padding: 10px;
    margin-right: 40px;
}

.nav-menu-link:hover {
    color: #666;
}


/*--HEADER SECTION--------*/

header {
    width: 100%;
    height: 480px;
}

.header-bg-wrapper {
    display: flex;
    justify-content: center;
}

.header-text-wrapper {
    margin-left: 277px;
    margin-top: 100px;
    font-family: 'Josefin Sans', sans-serif;
}

.header-link {
    color: #2D9CDB;
}

.header-bg {
    width: 1332px;
    height: 354px;
    display: flex;
    justify-content: center;
    background: url(./img/heroImage.jpg);
    background-size: cover;
    border-radius: 18px;
}

/*--CONTACT SECTION---------*/
.contact-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 600px;
    margin-top: 20px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    max-width: 90%;
    flex-direction: column;
}

.contact-block {
    height: 380px;
    width: 25%;
    margin-left: 280px;
    background-color: white;
}

.contact-p {
    margin-bottom: 40px;
    color: #333;
    font-size: 18px;
}

.contact-link {
    color: #828282;
    font-size: 14px;
}

.btn-input-wrapper {
    background-color: #F2F2F2;
    width: 100%;
    height: 57px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.email-input {
    border: none;
    background-color: transparent;
    padding: 10px;
    font-size: 18px;
    outline: none;
    color: #333;
}

.join-btn {
    background-color: #2D9CDB;
    color: white;
    font-size: 18px;
    border: none;
    padding: 16px 26px;
    border-radius: 12px;
    margin-right: 6px;
    transition: 0.3s;
    cursor: pointer;
}

.join-btn:hover {
    background-color: #333;
}

/*--SERVICES SECTION----------*/
.services-section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

.heading-wrapper {
    display: flex;
    align-self: flex-start;
    width: 346px;
    height: 108px;
}

.small-heading {
    font-weight: 500;
    font-size: 36px;
    color: #333;
}

.services-content-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.services-blocks-wrapper {
    display: flex;
    align-items: center;
}

.services-block {
    width: 341px;
    height: 422px;
    margin: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    border-radius: 24px;
}

.services-block:hover {
    box-shadow: 0px 10px 30px rgba(51, 51, 51, 0.2);
}

.services-block:hover .service-btn {
    background-color: #2D9CDB;
    color: #E0E0E0;
}

.block-content-wrapper {
    margin: 20px;
}

.icon-bg {
    width: 67px;
    height: 67px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
}

.icon-bg-ux {
    background-color: #2D9CDB;
}

.icon-bg-frontend {
    background-color: #27AE60;
}

.icon-bg-backend {
    background-color: #EB5757;
}

.service-name {
    font-weight: 700;
    font-size: 24px;
    color: #333;
    margin-top: 35px;
}

.service-p {
    font-size: 16px;
    color: #4F4F4F;
    margin-top: 24px;
    font-weight: 400;
}

.service-btn {
    border: none;
    color: #828282;
    background-color: #E0E0E0;
    border-radius: 12px;
    padding: 15px 20px;
    margin-top: 40px;
    font-weight: 500;
    font-size: 16px;
}

/*--DESIGN SECTION---------*/
.design-section {
    display: flex;
    justify-content: center;
    margin-top: 180px;
}

/*GRID*/
.design-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(9, 1fr);
    column-gap: 20px;
    row-gap: 100px;
}

.all-grid-block {
    width: 545px;
    height: 645px;
}

.grid-block-1 {
    grid-column: 1;
    grid-row: 2 / 6;
}

.grid-block-2 {
    grid-column: 2;
    grid-row: 1 / 5;
}

.grid-block-3 {
    grid-column: 1;
    grid-row: 6 / 11;
}

.grid-block-4 {
    grid-column: 2;
    grid-row: 5 / 10;
}

.seemore-link-block {
    grid-column: 2;
    grid-row: 9;
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
}

/*END GRID*/
.design-img {
    width: 545px;
    border-radius: 24px;
    margin-bottom: 20px;
}

.grid-block-p {
    font-weight: 400;
    font-size: 14px;
    color: #828282;
    margin-bottom: 18px;
}

.grid-block-heading {
    font-weight: 500;
    font-size: 24px;
    color: #333;
}

.seemore-link {
    color: #2D9CDB;
    font-weight: 500;
    font-size: 18px;
    text-decoration: none;
}

.seemore-link:hover {
    text-decoration: underline;
}
