* {
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
}

body {
    background-color: white;
}

.heading {
    font-size: 48px;
    color: #333;
    margin-top: 30px;
    margin-bottom: 40px;
}

.question-link {
    font-size: 18px;
    text-decoration: none;
}

/*--NAVBAR-----*/
.navbar {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
}

nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

#nav-logo-a-wrapper {
    display: flex;
    justify-content: flex-start;
    text-decoration: none;
}

#nav-logo {
    font-family: 'Josefin Sans', sans-serif;
    /*font-family: 'Heebo';*/
    font-weight: 800;
    font-size: 36px;
    line-height: 53px;
    left: 52px;
    top: 42px;
    color: #333;
    margin-left: 40px;
    text-align: center;
}

.nav-menu-link-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-menu-link {
    color: #333;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 500;
    font-size: 24px;
    padding: 10px;
    margin-right: 40px;
}

.nav-menu-link:hover {
    color: #666;
}


/*--HEADER SECTION--------*/

header {
    width: 100%;
    height: 480px;
}

.header-bg-wrapper {
    display: flex;
    justify-content: center;
}

.header-text-wrapper {
    margin-left: 277px;
    margin-top: 100px;
    font-family: 'Josefin Sans', sans-serif;
}

.header-link {
    color: #2D9CDB;
}

.header-bg {
    width: 1332px;
    height: 354px;
    display: flex;
    justify-content: center;
    background: url(./img/heroImage.jpg);
    background-size: cover;
    border-radius: 18px;
}

/*--CONTACT SECTION---------*/
.contact-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 600px;
    margin-top: 20px;
}

.contact-block-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    max-width: 90%;
}

.contact-block {
    height: 380px;
    width: 25%;
    margin-left: 280px;
    background-color: white;
}

.contact-p {
    margin-bottom: 40px;
    color: #333;
    font-size: 18px;
}

.contact-link {
    color: #828282;
    font-size: 14px;
}

.btn-input-wrapper {
    background-color: #F2F2F2;
    width: 100%;
    height: 57px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.email-input {
    border: none;
    background-color: transparent;
    padding: 10px;
    font-size: 18px;
    outline: none;
    color: #333;
}

.join-btn {
    background-color: #2D9CDB;
    color: white;
    font-size: 18px;
    border: none;
    padding: 16px 26px;
    border-radius: 12px;
    margin-right: 6px;
    transition: 0.3s;
    cursor: pointer;
}

.join-btn:hover {
    background-color: #333;
}

/*--SERVICES SECTION----------*/
.services-section {
    background-color: #666;
    width: 100%;
    height: 480px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.services-content-wrapper {
    background-color: #828282;
    width: 80%;
}

.small-heading {
    font-weight: 500;
    font-size: 36px;
    color: #333;
    width: 30%;
}

.services-blocks-wrapper {
    background-color: aliceblue;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.service-block {
    background-color: cadetblue;
    width: 35%;
    height: 480px;
}

.icon-bg {
    background-color: blue;
    width: 67px;
    height: 67px;
    align-content: center;
    border-radius: 16px;
}

.service-icon {}

.service-name {
    font-weight: 700;
    font-size: 24px;
    color: #333;
    margin-top: 35px;
}

.service-p {
    font-size: 16px;
    color: #4F4F4F;
    margin-top: 24px;
}

.service-btn {
    border: none;
    color: #828282;
    background-color: #E0E0E0;
    border-radius: 12px;
    padding: 15px 20px;
}